<a href="https://colab.research.google.com/github/ejkaaa/pandas/blob/main/import_from_kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
import pandas as pd

In [ ]:
!mkdir ~/.kaggle
!cp /content/kaggle.json ~/.kaggle
!chmod 600 ~/.kaggle/kaggle.json

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [ ]:
!kaggle competitions list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                            deadline             category            reward  teamCount  userHasEntered
---------------------------------------------  -------------------  ---------------  ---------  ---------  --------------
contradictory-my-dear-watson                   2030-07-01 23:59:00  Getting Started     Prizes         90           False
gan-getting-started                            2030-07-01 23:59:00  Getting Started     Prizes         90           False
store-sales-time-series-forecasting            2030-06-30 23:59:00  Getting Started  Knowledge        962           False
tpu-getting-started                            2030-06-03 23:59:00  Getting Started  Knowledge        153           False
digit-recognizer                               2030-01-01 00:00:00  Getting Started  Knowledge       1729           False
titanic                                        2030-01-01 00:00:00  Getting Started  Knowledge      14619           False
house-prices-advanced-regression-techniques    2030-01-01 00:00:00  Getting Started  Knowledge       5374            True
connectx                                       2030-01-01 00:00:00  Getting Started  Knowledge        221           False
nlp-getting-started                            2030-01-01 00:00:00  Getting Started  Knowledge        933           False
competitive-data-science-predict-future-sales  2022-12-31 23:59:00  Playground           Kudos      13221           False
feedback-prize-2021                            2022-03-15 23:59:00  Featured          $160,000        128           False
tensorflow-great-barrier-reef                  2022-02-14 23:59:00  Research          $150,000        569           False
jigsaw-toxic-severity-rating                   2022-02-07 23:59:00  Featured           $50,000       1189           False
g-research-crypto-forecasting                  2022-02-01 23:59:00  Featured          $125,000       1055           False
petfinder-pawpularity-score                    2022-01-13 23:59:00  Research           $25,000       3008           False
santa-2021                                     2022-01-11 23:59:00  Featured           $25,000        712           False
optiver-realized-volatility-prediction         2022-01-10 23:59:00  Featured          $100,000       3852           False
nfl-big-data-bowl-2022                         2022-01-06 23:59:00  Analytics         $100,000          0           False
tabular-playground-series-dec-2021             2021-12-31 23:59:00  Playground            Swag        788           False
sartorius-cell-instance-segmentation           2021-12-30 23:59:00  Featured           $75,000       1392           False

In [ ]:
!kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                                         title                                              size  lastUpdated          downloadCount
----------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------
gpreda/reddit-vaccine-myths                                 Reddit Vaccine Myths                              237KB  2021-12-12 11:59:54          17979
crowww/a-large-scale-fish-dataset                           A Large Scale Fish Dataset                          3GB  2021-04-28 17:03:01          10702
imsparsh/musicnet-dataset                                   MusicNet Dataset                                   22GB  2021-02-18 14:12:19           5338
dhruvildave/wikibooks-dataset                               Wikibooks Dataset                                   2GB  2021-10-22 10:48:21           3843
promptcloud/careerbuilder-job-listing-2020                  Careerbuilder Job Listing 2020                     42MB  2021-03-05 06:59:52           3016
fatiimaezzahra/famous-iconic-women                          Famous Iconic Women                               838MB  2021-02-28 14:56:00           2140
nickuzmenkov/nih-chest-xrays-tfrecords                      NIH Chest X-rays TFRecords                         11GB  2021-03-09 04:49:23           1858
mathurinache/twitter-edge-nodes                             Twitter Edge Nodes                                342MB  2021-03-08 06:43:04           1425
alsgroup/end-als                                            End ALS Kaggle Challenge                           12GB  2021-04-08 12:16:37           1169
simiotic/github-code-snippets                               GitHub Code Snippets                                7GB  2021-03-03 11:34:39            558
coloradokb/dandelionimages                                  DandelionImages                                     4GB  2021-02-19 20:03:47           1100
mathurinache/the-lj-speech-dataset                          The LJ Speech Dataset                               3GB  2021-02-15 09:19:54            561
landrykezebou/lvzhdr-tone-mapping-benchmark-dataset-tmonet  LVZ-HDR Tone Mapping Benchmark Dataset (TMO-Net)   24GB  2021-03-01 05:03:40            273
stuartjames/lights                                          LightS: Light Specularity Dataset                  18GB  2021-02-18 14:32:26            252
nickuzmenkov/ranzcr-clip-kfold-tfrecords                    RANZCR CLiP KFold TFRecords                         2GB  2021-02-21 13:29:51            171
imsparsh/accentdb-core-extended                             AccentDB - Core & Extended                          6GB  2021-02-17 14:22:54            202
datasnaek/youtube-new                                       Trending YouTube Video Statistics                 201MB  2019-06-03 00:56:47         161755
zynicide/wine-reviews                                       Wine Reviews                                       51MB  2017-11-27 17:08:04         151224
residentmario/ramen-ratings                                 Ramen Ratings                                      40KB  2018-01-11 16:04:39          31275
datasnaek/chess                                             Chess Game Dataset (Lichess)                        3MB  2017-09-04 03:09:09          26430

In [ ]:
!kaggle competitions download -c titanic

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading train.csv to /content
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 21.5MB/s]
Downloading gender_submission.csv to /content
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 2.78MB/s]
Downloading test.csv to /content
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 23.0MB/s]

In [ ]:
!kaggle datasets download datasnaek/youtube-new

In [ ]:
pd.read_csv('train.csv')

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [ ]:
!kaggle competitions submit -c titanic -f /content/gender_submission.csv -m test_sub

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
100% 3.18k/3.18k [00:00<00:00, 8.93kB/s]
Successfully submitted to Titanic - Machine Learning from Disaster